IDDemo/.vs/IDDemo/v15/Server/sqlite3/storage.ide-wal
IDDemo/.vs/IDDemo/v15/Server/sqlite3/storage.ide-shm
IDDemo/.vs/IDDemo/v15/Server/sqlite3/storage.ide
IDDemo/.vs/IDDemo/v15/Server/sqlite3/db.lock
IDDemo/.vs/IDDemo/v15/.suo
IDDemo/.vs/IDDemo/v15/sqlite3/storage.ide-wal
IDDemo/.vs/IDDemo/v15/sqlite3/storage.ide-shm
IDDemo/.vs/IDDemo/v15/sqlite3/db.lock
IDDemo/IDDemo/bin/Debug/netcoreapp2.0/IDDemo.pdb
IDDemo/IDDemo/bin/Debug/netcoreapp2.0/IDDemo.dll
IDDemo/IDDemo/Data/Migrations/20180426054856_init.cs
IDDemo/IDDemo/Data/Migrations/20180426054856_init.Designer.cs
IDDemo/IDDemo/obj/IDDemo.csproj.nuget.cache
IDDemo/IDDemo/obj/Debug/netcoreapp2.0/IDDemo.csproj.CoreCompileInputs.cache
IDDemo/IDDemo/obj/Debug/netcoreapp2.0/IDDemo.AssemblyInfoInputs.cache
IDDemo/IDDemo/obj/Debug/netcoreapp2.0/IDDemo.pdb
IDDemo/IDDemo/obj/Debug/netcoreapp2.0/IDDemo.dll
IDDemo/IDDemo/obj/Debug/netcoreapp2.0/IDDemo.csprojResolveAssemblyReference.cache
