
@{
    ViewData["Title"] = "Super User Portal";
}

<h2>Super User Portal</h2>
<div>
    <a asp-action="Role"  class="btn btn-default">Role</a> |
    <a  class="btn btn-default">User</a> |
    <a  class="btn btn-default">Claim</a>
</div>
